body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Open Sans", Roboto, sans-serif;
}

.mp-underline {
  background: rgba(10, 30, 50, 0.1);
  border-radius: 0.5px;
  height: 1px;
  margin: 1.5rem 0 1rem;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #808191;
}